
@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
<div class="col">
    <div class="card">
        <img src="~/img/HTML.png" class="card-img-top" />

        <div class="card-body">
            <h5 class="card-title">Kurs adi</h5>
            <p class="card-text">Açiklama</p>
            <a href="#">incele</a>
        </div>
    </div>
</div>