
@{
    ViewData["Title"] = "List";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    @await Html.PartialAsync("_CardCourse")
    @await Html.PartialAsync("_CardCourse")
    @await Html.PartialAsync("_CardCourse")
    @await Html.PartialAsync("_CardCourse")
    
</div>

