@model Product
@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="col-4">
        <img src="~/img/@Model.UrunResim" class="img-fluid" />
    </div>
    <div class="col-8">
        <h1>@Model.UrunBaslik</h1>
        <p>@Model.UrunAciklama</p>
        <p>@Model.Fiyat TL<p>
        <p>@Model.Yayindami</p>
    </div>
</div>

